<div class="hn_row1">
    <!--标题-->
    <div class="hn_title">
        <img src="/img/titleBg_theme.png"/>
        <p>数 据 主 题</p>
    </div>
    <!--内容-->
    <div class="hn_content">
        <div style="height: 250px;">
            <div class="prod" id="prod1" title="经济建设">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='economicdevelopment') }}">经济建设</a>
                    </div>
                <div class="prod_tip">
                    <p>包含企业名单、担保公司等数据</p>
                </div>
            </div>
            <div class="prod" id="prod2" title="资源环境">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='resourcesandenvironment') }}">资源环境</a>
                    </div>
                <div class="prod_tip">
                    <p>包含公共资源、国土信息等数据</p>
                </div>
            </div>
            <div class="prod" id="prod3" title="教育科技">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='educationaltechnology') }}">教育科技</a>
                    </div>
                <div class="prod_tip">
                    <p>包含学校学生、老师等基本教育信息和科技奖项等数据</p>
                </div>
            </div>
            <div class="prod" id="prod4" title="道路交通">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='traffic') }}">道路交通</a>
                    </div>
                <div class="prod_tip">
                    <p>包括淮南客运、公交线路基本情况和驾驶员信息等数据</p>
                </div>
            </div>
        </div>
        <div style="height: 250px;">
            <div class="prod" id="prod5" title="公共安全">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='publicsafety') }}">公共安全</a>
                    </div>
                <div class="prod_tip">
                    <p>包括城管执法、地方法律法规等相关数据</p>
                </div>
            </div>
            <div class="prod" id="prod6" title="文化娱乐">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='cultureandentertainment') }}">文化娱乐</a>
                    </div>
                <div class="prod_tip">
                    <p>包括淮南出版社、印刷企业年度考核等数据</p>
                </div>
            </div>
            <div class="prod" id="prod7" title="卫生健康">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='health') }}">卫生健康</a>
                    </div>
                <div class="prod_tip">
                    <p>包含医疗机构、卫生机构等数据</p>
                </div>
            </div>
            <div class="prod" id="prod8" title="民生服务">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='livelihoodservice') }}">民生服务</a>
                    </div>
                <div class="prod_tip">
                    <p>民生服务包含公积金基本信息和社会保障局公共用户信息等数据</p>
                </div>
            </div>
        </div>
        <div style="height: 250px;">
            <div class="prod" id="prod9" title="城市建设">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='urbanconstruction') }}">城市建设</a>
                    </div>
                <div class="prod_tip">
                    <p>包含城乡建设委、城市规划局相关数据</p>
                </div>
            </div>
            <div class="prod" id="prod10" title="农林渔牧">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='agriculture') }}">农林渔牧</a>
                    </div>
                <div class="prod_tip">
                    <p>	包含农业、水利、林业等相关数据</p>
                </div>
            </div>
            <div class="prod" id="prod11" title="企业服务">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='corporateservice') }}">企业服务</a>
                    </div>
                <div class="prod_tip">
                    <p>包含工商局商户数据以及矿业集团等相关数据</p>
                </div>
            </div>
            <div class="prod" id="prod12" title="政府机构">
                <div class="hn_image"></div>
                    <div class="prod_title">
                        <a href="{{ h.url_for('group_read', id='governmentagency') }}">政府机构</a>
                    </div>
                <div class="prod_tip">
                    <p>包含团委、物价局等相关政府机构相关数据</p>
                </div>
            </div>
        </div>
    </div>
</div>