<div class="hn_banner">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" id="slide_1"><img src="/img/bannerImage/1-1.png" /></div>
            <div class="swiper-slide" id="slide_2"><img src="/img/bannerImage/1-2.png" /></div>
            <!--<div class="swiper-slide" id="slide_3"><img src="img/bannerImage/2-1.png" /></div>-->
            <div class="swiper-slide" id="slide_4"><img src="/img/bannerImage/2-2.png" /></div>
            <div class="swiper-slide" id="slide_5"><img src="/img/bannerImage/3-1.png" /></div>
            <!--<div class="swiper-slide" id="slide_7"><img src="img/bannerImage/3-3.png" /></div>-->
            <div class="swiper-slide" id="slide_8"><img src="/img/bannerImage/4-1.png" /></div>
        </div>
        <!-- 如果需要分页器 -->
        <div class="swiper-pagination"></div>

        <!-- 如果需要导航按钮 -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- 如果需要滚动条 -->
        <div class="swiper-scrollbar"></div>
    </div>
</div>