{% extends "package/base.html" %}

{% set res = c.resource %}
{% set pkg = c.pkg_dict %}

{% block subtitle %}添加字段说明 - {{ h.dataset_display_name(pkg) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  {{ super() }}
  {% if res %}
    <li>{% link_for h.resource_display_name(res)|truncate(30), controller='package', action='resource_read', id=pkg.name, resource_id=res.id %}</li>
    <li{% block breadcrumb_edit_selected %} class="active"{% endblock %}><a href="">添加字段说明</a></li>
  {% endif %}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block primary_content_inner %}
<h1 class="hide-heading">{% block form_title %}添加字段说明{% endblock %}</h1>
{% snippet 'package/snippets/data_dict_form.html', res=res, title='添加字段说明' %}
{% endblock %}
